version: "3.8"

services:
  backend:
    image: "eusoff/backend:latest"
    build: ./backend/
    restart: unless-stopped
    environment:
      - WAIT_HOSTS=mongodb:27017
      - WAIT_HOSTS_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=10
      - WAIT_HOST_CONNECT_TIMEOUT=30
    env_file: ./backend/.env
    depends_on:
      - mongodb
      - redis
    links:
      - mongodb
    networks:
      - mongodb_network
      - backend
      - redis

  frontend:
    image: "eusoff/frontend:latest"
    build: ./frontend/
    restart: unless-stopped
    env_file: ./frontend/.env
    networks:
      - frontend

  mongodb:
    # image: "mongodb/mongodb-community-server:6.0-ubi8"
    image: "bitnami/mongodb:5.0.23"
    restart: unless-stopped
    environment:
      - MONGODB_USERNAME=eusoff
      - MONGODB_PASSWORD=smallcoock
      - MONGODB_DATABASE=db
      - MONGODB_ROOT_PASSWORD=smallcoock
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_NAME=rs0
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - MONGODB_ADVERTISED_HOSTNAME=eusoff.college
    ports:
      - 27017:27017
    volumes:
      - mongodb:/bitnami/mongodb
      - ./mongod.conf:/etc/mongo/mongod.conf
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - mongodb_network

  redis:
    image: redis:7.2.1
    restart: unless-stopped
    networks:
      - redis
    volumes:
      - redis:/data

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - backend
      - frontend
    ports:
      - 443:443
      - 80:80
    networks:
      - backend
      - frontend
  
  # certbot:
  #   image: certbot/certbot
  #   container_name: certbot
  #   volumes:
  #     - certbot-etc:/etc/letsencrypt
  #     - certbot-var:/var/lib/letsencrypt
  #     - web-root:/var/www/html
  #   depends_on:
  #     - nginx
  #   command: certonly --webroot --webroot-path=/var/www/html --email juan.c.vieri@u.nus.edu --agree-tos --no-eff-email --force-renewal -d eusoff.college  -d www.eusoff.college

volumes:
  mongodb:
  redis:
  certbot-etc:
  certbot-var:
  web-root:

networks:
  mongodb_network:
    driver: bridge
  redis:
    driver: bridge
  backend:
    driver: bridge
    name: backend
  frontend:
    driver: bridge
    name: frontend
